body {
	background-color: #43423d;
	font: normal 100% Vollkorn;
	color: #222222;
}

nav {
	padding-top: 0.625em;
}

#main_nav li, li a {
	list-style-type: none;
	display: inline;
	color: #8c8b85;
	font-size: 1.125em;
	text-decoration: none;
	padding: 0.625em;
	margin-top: 0.625em;
}

#footer_nav li{
	list-style-type: none;
	display: inline;
	font-size: 0.75em;
	margin-top: 1em;
}

li a:hover {
	color: #fff;
}

.container {
	background-color: #3c3c3c;
}

section {
	background: url(/sandbox/GALYN/images/background.png) repeat-y;
}

article, #footer_buffer {
	background-color: #efefe5;
	padding: 0.625em;
}

img.center, img.shadow {
	display: block;
	margin: auto;
}

header {
	margin-top: 1.75em;
}

h1, header {
	color: #fff;
	padding: 0 0.3125em;
}

#small {
	font-size: 0.75em;
}
footer {
	display: block;
	min-height: 353px;
	background: url(/sandbox/GLYAN/images/footer.png) repeat-x;
	color: #fff;
}
footer h1 {
	font-size: 1.125em;
}

footer a {
	color: #cac6b7;
}

footer a:hover {
	color: #6f9096;
}

#main_nav_current, #footer_nav_current {
	color: #fff;
	text-decoration: underline;
}
